input:focus + label,
input:not(:placeholder-shown) + label {
  top: -60%;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  border-radius: 20%;
  color: black;
}
/* if placeholder  */
input::placeholder {
  opacity: 0;
  transform: translateY(100%);
}
input:focus::placeholder {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  opacity: 1;
}
.status {
  transform: scale(0);
}
.scale-100 {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.eye-container {
  content: "";
  width: 20px;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  left: 102%;
  z-index: 10;
  border: 5px solid #000;
}
