input:focus + label,
input:not(:placeholder-shown) + label {
  top: -60%;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  border-radius: 20%;
  color: black;
}
/* if placeholder  */
input::placeholder {
  transform: translateY(100%);
}
input:focus::placeholder {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}
